@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.homeTitle {
  text-align: center;
  padding: 30px 0 20px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.cardProduct {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.cardItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 12px;
  border: 1px solid black;
  border-radius: 6px;
}

span {
  font-weight: 600;
}


form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: white;
  border-radius: 6px;
  padding: 12px;
  max-width: 300px;
  height: auto;
}

.itemsContainer {
  width: 100%;
}

.products li {
  padding: 3px;

}

#formProduct {
  display: flex;
  flex-direction: column;
}

form input {
  border-radius: 6px;
  border: 1px solid black;
  padding: 6px;
}

#container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
}

.external {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.addProductTitle {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 15px;
}

button {
  background-color: rgb(184, 181, 181);
  width: 300px;
  height: 30px;
  border-radius: 6px;
  border: solid 1px black;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s ease;
  cursor: pointer;
}

button:hover {
  background-color: rgb(86, 166, 197);
  border: none;
  color: white;
}

.eliminarContainer {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

.eliminar {
  max-width: 50%;
  background-color: rgb(184, 181, 181);
  font-weight: 500;
  transition: all .3s ease;
}

.eliminar:hover {
  background-color: red;
  color: white;
}